*{
    margin: 0px;
}
nav {
    background-color: #333;
    color: white;
    padding: 10px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: auto;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
  }
  
  .navbar a:hover {
    background-color: #555;
  }
  